.records-paper {
  flex-direction: column;
  justify-content: start;
  background: rgb(252, 252, 252);
  margin: 10px 20px;
  height: 95%;
  margin-top: -15px;
  max-width: 70;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.records-paper h2 {
  padding: 1vh;
  font-size: xx-large;
  color: rgb(245, 248, 245);
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(80, 110, 80);
  display: flex;
}

.records-body {
  display: flex;
  flex-direction: column;
}
