.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-division {
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.main-details {
  display: flex;
  align-self: center;
  color: white;
}

.developers {
  height: 100%;
  align-self: flex-start;
  text-align: start;
}

.links {
  justify-content: flex-start;
  height: 100%;
  text-align: start;
}

.links a {
  color: rgb(214, 235, 216);
}
